.expandable-list {
    list-style-type: none;
    padding: 0;
}

.list-title {
    cursor: pointer;
    font-weight: bold;
}

.sub-list {
    list-style-type: none;
    padding-left: 20px;
}

.hidden {
    display: none;
}
